
$headings-color: $primary;
$headings-font-family: 'DaughterofFortune';
$headings-line-height: 84px;
$headings-font-weight: 400;

$h1-font-size: 228px;
$h2-font-size: 128px;

$font-size-root:  20px;


